@use 'variables' as colores;
@use 'mixins';

.gallery{
    &__image-container{
        height: 300px;
        width: 100%;
        background-image: url('../images/image-product-1.jpg');
        background-size: cover;
        background-position-y: -35px;
    }

    &__prev{
        @include mixins.image-btn(185px, 15px, false);
    }

    &__next{
        @include mixins.image-btn(185px, 320px, false);
    }

    &__thumbnails{
        display: none;

        @media (min-width: 1115px){
           display: flex;
           justify-content: space-between;
        }
    }

    &__thumbnail{
        width: 90px;
        border-radius: 1rem;
        transition: outline 50ms ease-in;
        &:hover{
            cursor: pointer;
            outline: 2px solid colores.$Orange;
        }
    }

    @media (min-width: 1115px){
        width: 446px;
        
        &__image-container{
            border-radius: 16px;
            height: 446px;
            margin-bottom: 32px;
            background-position-y: initial;
        }
     }

}